# for DEVELOPMENT
# Create a file called ".env.development"
# ------------------------------
# for PRODUCTION
# Create a file called ".env.production"


# Server
PORT= 8000
ENV= development #production
SERVER_URI= 
  
#Database
MONGODB_URI= 

#JWT
ACCESS_TOKEN_SECRET= gibrish
REFRESH_TOKEN_SECRET= gibrish